@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "animation.css";
@import "output.css";
@import "variables.css";

:root {
    --safe-area-top: env(safe-area-inset-top, 0);
    --safe-area-bottom: env(safe-area-inset-bottom, 0);
    --safe-area-right: env(safe-area-inset-right, 0);
    --safe-area-left: env(safe-area-inset-left, 0);
}

* {
    border-color:var(--border);
    outline-color:var(--ring);
    box-sizing: border-box;
}

body {
    font-family: "Geist";
}

[x-cloak] {
    display: none !important;
}

.bg-blur {
    -webkit-backdrop-filter: saturate(180%) blur(var(--radius));
    backdrop-filter: saturate(180%) blur(var(--radius));
}